<html>
    <head>
        <title>Todo List</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link href="/assects/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required />
                <button type="submit">Add Item</button> 
            </form>
            <ul>Item 1</ul>
            <ul>Item 2</ul>
            <ul>Item 3</ul>
        </div>
    </body>
</html>